@use '../variables' as *;

.form-button-group {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 1rem;

  background-color: $clr-Neutral-500;

  .prev-button {
    background-color: $clr-Neutral-500;
    border: none;

    color: $clr-Neutral-900;
    font-weight: $fontWeight-500;

    margin-right: 1rem;

    cursor: pointer;
  }

  .next-button {
    background-color: $clr-Primary-900;
    padding: 0.5rem;

    border: none;
    border-radius: 5px;

    color: $clr-Neutral-500;
    font-weight: $fontWeight-500;

    cursor: pointer;
  }
}
