$clr-Primary-900: hsl(213, 96%, 18%);
$clr-Primary-800: hsl(243, 100%, 62%);
$clr-Primary-200: hsl(228, 100%, 84%);
$clr-Primary-100: hsl(206, 94%, 87%);
$clr-Primary-Red: hsl(354, 84%, 57%);

$clr-Neutral-900: hsl(231, 11%, 63%);
$clr-Neutral-800: hsl(229, 24%, 87%);
$clr-Neutral-700: hsl(217, 100%, 97%);
$clr-Neutral-600: hsl(231, 100%, 99%);
$clr-Neutral-500: hsl(0, 0%, 100%);

$fontFamily-Ubuntu: 'Ubuntu', sans-serif;

$fontWeight-700: 700;
$fontWeight-500: 500;
$fontWeight-400: 400;
